* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #eac926;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

header .logo img {
  width: 100%;
}

header .search-bar input {
  width: 80%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.logo-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo,
.search-bar {
  width: 50%;
}

header .installments p {
  font-size: 12px;
  margin: 10px 0;
}
.cuotas {
  width: 50%;
  color: #03264c;
  font-size: 12px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 5px;
}

.sin-iconos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con-iconos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #03264c;
  font-size: 12px;
}

main {
  width: 90%;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #03264c;
  font-size: 24px;
  margin-bottom: 10px;
}

.hero {
  width: 100%;
  height: auto;
}

.hero > img {
  width: 100%;
  object-fit: cover;
}

.last-visit,
.offers {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product {
  border-top: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product p {
  margin: 5px 0;
  text-align: left;
}

.product p:nth-child(1) {
  font-size: 18px;
}

.product p:nth-child(2) {
  font-size: 16px;
  color: #39b54a;
  padding-left: 10px;
}

.product p:nth-child(3) {
  font-size: 16px;
  color: #666;
}

.product-description {
  visibility: hidden;
}

.product:hover .product-description {
  visibility: visible;
}

.product-price {
  display: flex;
  width: 100%;
  align-items: center;
}

.product-price p:nth-child(1) {
  width: 30%;
}

.product-price p:nth-child(2) {
  width: 70%;
}

.description-box {
  position: relative;
  padding: 10px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-details {
  display: flex;
  flex-direction: column;
}

.payment:hover i,
.security:hover i,
.shipping:hover i {
  color: blueviolet;
}

footer section {
  margin-bottom: 10px;
}

footer section p {
  margin: 5px 0;
}

footer p {
  font-size: 12px;
  color: #666;
}

footer i {
  font-size: 2em;
  color: #1259c3;
  margin-bottom: 10px;
}

.burger-menu {
  font-size: 2em;
  color: #fff;
  padding: 5px 10px;
  background-color: #1259c3;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}
.fa-truck {
  font-size: 1em;
  color: #39b54a;
  transition: all 0.3s ease-in;
}
.circle:hover .fa-truck {
  transform: rotate(-90deg);
}
.circle {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
/* Estilos del Formulario de Registro */

.register {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register form {
  display: flex;
  flex-direction: column;
}

.login form {
  display: flex;
  flex-direction: column;
}

.register label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login label {
  margin-bottom: 5px;
  font-weight: bold;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="date"],
.register input[type="password"],
.register input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register input[type="radio"],
.register input[type="checkbox"] {
  margin-right: 10px;
}

.register div {
  margin-bottom: 10px;
}

.login div {
  margin-bottom: 10px;
}

.btn {
  height: auto;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px whitesmoke;
  background-color: #d9d9d9;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.register button:hover {
  background-color: #0022aa;
  color: #f9f9f9;
}

.login button:hover {
  background-color: #0022aa;
  color: #f9f9f9;
}
.register button[type="reset"]:hover {
  background-color: #0022aa;
  color: #f9f9f9;
}

@media screen and (min-width: 361px) {
  .product {
    width: 47%;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  nav {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo-search {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 769px) {
  .product {
    width: 23%;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  nav {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .footer-details {
    flex-direction: row;
    justify-content: space-around;
  }
}
